
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin of css*/

.personal-header{
    height:30px;
    background-color: #333;
}

/*This is to make the header responsive*/

body{
	font-family: Arial;
	font-size: 12px;
}
.personal-content-header{
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin: auto; /*To centralize content*/
}

.menu-personal-info{
	width: 50%;
	height: 30px;
	float: left;
}

.social-networks-and-search{
	width: 50%;
	height:26px;
	float: right;
	margin-top: 2.5px;
}

.menu-personal-info li{
	float: left; /*To put each li side by side*/
	height: 30px;
	line-height: 30px; /*To center a text it is necessary to place a line height of the same size as div*/
	margin-left: 8px;
	margin-right: 8px;
}

.link a{
	text-decoration: none;
	color: #fff;
}

.menu-personal-info li a:active{
	color:#4682B4;
}

.float-right{
	float: right;
}

.input-search-header {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width:180px;
	height:26px;
	opacity:0.85;
	-moz-opacity: 0.85;
	outline: none;
}

.social-networks-and-search img{
	margin-right: 4px;
	margin-bottom: 3px;
}

.search-icon {
	width: 21px;
	height:21px;
	position: relative;
	right: 26px;
	top: 3px;
}

.header{
	height: 95px;
	color: #000;
}

.content-header{
	width: 100%;
	max-width:1040px;
	height:95px;
	margin: auto;
}

.logo h1{
	width: 300px;
	height:95px;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	float:left;
	margin-top: 25px;
	text-align: center;
}

.header .banner{
	width:650px;
	height:80px;
	float: right;
	margin-top: 7px;
	background-color: #FF0000;
}

.color-logo {
	color: #CD5C5C;
}

.banner h2 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin-top: 25px;
}

.menu {
	height: 40px;
	background-color: #FF0000;
}

.menu-content {
	width: 100%;
	max-width:1040px;
	height:40px;
	margin:auto;
}

.menu ul {
	position: absolute;
}

.menu-content li {
	float:left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.down-arrow {
	width:0px;
	height:0px;
	border: 4px solid transparent;
	border-top-color: #fff;
	display: inline-block;
	position: relative;
	top: 3px;
}

.menu li:hover .dropdown {
	display: block;
}

.dropdown {
	width: 150px;
	/*the height won't have because it is flexible*/ 
	background-color: #FF0000;
	position: absolute;
	display: none;
}

.dropdown-content{
	width:140px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}

.dropdown-content:hover{
	background-color: #FF5555;
}

.last-news{
	height:40px;
}

.last-news-container {
	width: 100%;
	max-width:1040px;
	height:40px;
	margin: auto;
}

.last-news-area {
	height:28px;
	border:1px solid #CCC;
	margin-top: 10px; 
}

.last-news-title {
	background-color: #FF0000;
	color: #FFF;
	height:28px;
	line-height:28px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size:16px;
}

.last-news-content {
	color: #000;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 5px;
}

.container-area {
	width: 100%;
	max-width:1040px;
	margin:auto;
	background-color: #999;
}

.aside-news {
	width:275px;
	min-height:300px;
	float: right;
	margin-left: 12px;
}

.main-news{
	width: 753px;
	min-height: 300px;
	float:left;
}

.widget {
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}

.widget-title {
	height:30px;
	line-height:30px;
	padding-left: 5px;
	background-color:#DDD;
	border-bottom: 1px solid #CCC;
	font-size:14px;
}

.widget-content {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	height: auto;
	width: auto;
}

.widget-news-item{
	font-size: 12px;
	text-align:left;
	margin: 0px 10px;
	padding: 10px 0px;
	border-bottom: 1px solid #CCC;
}

.slideshow{
	height:335px;
	overflow: hidden; /*This is the behavior that the div will have if it passes the area*/ 
	margin-bottom: 20px;
}

.slideshow-area{
	height:335px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.slide{
	height:335px;
	float:left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slide-info{
	height: 70px;
	background: linear-gradient(to bottom, transparent, rgba(0,0,0,.98));
	background-size: auto 70px;
	margin-top: 265px;
}

.slide-info-title{
	font-size:15px;
	color: #FFF;
	padding-top: 32px;
	padding-left: 15px;
}

.slide-info-content{
	font-size:13px;
	color:#FFF;
	padding-top: 5px;
	padding-left: 15px;
}

.slide-cursor{
	position:absolute;
	width:200px;
	height: 20px;
}

.cursor {
	width: 20px;
	height: 20px;
	float: left;
	margin-right:5px;
	cursor: pointer;
	background-color: #CCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.news-area-left {
	width: 430px;
	height:420px;
	float: left;
}

.news-area-right {
	width: 320px;
	height: 420px;
	float: left;
}

.news {
	text-align: left;
	height:88px;
	margin-top: 7px;
	margin-bottom: 7px;
}

.news-image {
	width:80px;
	height:80px;
	border: 1px solid #CCC;
	padding:3px;
	float:left;
}

.news-title {
	float:left;
	margin-left: 6px;
	font-size:14px;
	width:226px;
}

.news-content{
	font-size: 12px;
	margin-left:6px;
	color: #999;
	width:226px;
	float:left;
}

.main-news-image {
	margin-left:10px;
}

.main-news-image .news-image{
	width:384px;
	height:222px;
}

.main-news-image .news-image img{
	width:384px;
	height:222px;
}

.main-news-image .news-title{
	font-size:30px;
	width:384px;
}


